@font-face {
  font-family: "Chillax";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../public/fonts/chillax/Chillax-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Supreme";
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/supreme/Supreme-Light.otf") format("opentype");
}
